<mat-horizontal-stepper linear #stepper>
    <mat-step [completed]="frmStepOne?.valid" >
        <ng-template matStepLabel>Add Data</ng-template>
        <app-add #stepOneComponent (getTableData)="saveTableData($event)"></app-add>
        {{frmStepOne?.valid}}
    </mat-step>
    <mat-step [stepControl]="frmStepTwo" optional>
        <ng-template matStepLabel>Design</ng-template>
        <app-design #stepTwoComponent (getDesignData)="saveDesign($event)"></app-design>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>View and Manage</ng-template>
        <app-data-table [(tableDataSource)]="dataSource" [tableData]="tableData" [designData]="designData" (editRow)="edit($event)" (deleteRow)="delete($event)"></app-data-table>
    </mat-step>

</mat-horizontal-stepper>