<mat-card>

    <form [formGroup]="frmStepTwo">

        <div class="wrapper" fxLayoutWrap="10px">
            <div class="form-body p5">
                <div class="FormCell">
                    <mat-label>Header</mat-label>
                    <mat-form-field class="formField" appearance="outline" id="school">
                        <mat-label>Font Color</mat-label>
                        <mat-select name='headerColors' formControlName="headerFontColors">
                            <mat-option *ngFor="let color of headerColors" [value]="color">{{color}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="formField" appearance="outline" id="school">
                        <mat-label>Background Color</mat-label>
                        <mat-select name='headerColors' formControlName="headerBackgroundColors">
                            <mat-option *ngFor="let color of headerColors" [value]="color">{{color}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="FormCell">
                    <mat-label>Row data</mat-label>
                    <mat-form-field class="formField" appearance="outline" id="school">
                        <mat-label>Font Color</mat-label>
                        <mat-select name='rowColors' formControlName="rowFontColors">
                            <mat-option *ngFor="let color of rowColors" [value]="color">{{color}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="formField" appearance="outline" id="school">
                        <mat-label>Background Color</mat-label>
                        <mat-select name='rowColors' formControlName="rowBackgroundColors">
                            <mat-option *ngFor="let color of rowColors" [value]="color">{{color}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="stepper-actions">
                    <button mat-button matStepperNext (click)="submit()">Next</button>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </div>
        </div>

    </form>

</mat-card>